---
---

@import "{{ site.theme }}";

body {
 width: 100vw; 
 overflow-x: hidden;
}  

.wrapper {
  display: flex;
  flex-direction: column;
  width: 1024px;
  margin: 0 auto;
 
  header {
    width: 100%;
    float: inherit;
    position: inherit;
    -webkit-font-smoothing: subpixel-antialiased;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
 
  section {
    width: 100%;
    
    p {
     line-height: 1.8rem;
    }
  }
}
