---
---

@import "{{ site.theme }}";

$red: #f12e15;
$grey: #727272;
$transition: all 0.5s ease-out;
$padding: 0.3rem 0.5rem;

body {
 width: 100vw;
 overflow-x: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 1024px;
  margin: 0 auto;

  header {
    background-color: white;
    width: 100%;
    float: inherit;
    position: fixed;
    top: 0;
    -webkit-font-smoothing: subpixel-antialiased;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  footer {
    width: 100%;
    float: inherit;
    position: inherit;
    -webkit-font-smoothing: subpixel-antialiased;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  section {
    width: 100%;
    padding-top: 150px;

    .grid-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: none;
      grid-column-gap: 1rem;
      grid-row-gap: 2rem;
    }

    .toolbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 2rem;

      h1 {
        margin-bottom: 0;
      }

      .actions {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        a.action-link {
          color: $grey;
          padding: $padding;
          min-width: 3.5rem;
          text-align: right;
          transition: $transition;

          &:hover {
            color: black;
            font-weight: normal;
          }
        }
      }
    }

    h1 {
      font-size: 1.6rem;
      padding-left: 0.5rem;
      border-left: 4px solid $red;
    }

    h2 {
      font-size: 1.3rem;
    }

    h3 {
      font-size: 1.1rem;
      margin-bottom: 0.5rem;
    }

    p {
      font-size: 0.9rem;
      line-height: 1.6rem;
    }

    ul {
      margin: 0;
      width: 100%;

      &.menu {
        padding: 0;
        list-style: none;
      }

      li {
        margin-bottom: 0.5rem;
        cursor: pointer;
        width: 100%;

        a {
          color: $red;
          background-color: transparent;
          padding: $padding;
          padding-left: 0;
          transition: $transition;
          width: 100%;
          white-space: nowrap;

          &:hover {
            background-color: $red;
            color: white;
            padding-left: 0.5rem;
          }
        }
      }
    }

    a.button {
      background: transparent;
      border: 1px solid $red;
      color: $red;
      padding: $padding;
      margin-bottom: 1rem;
      min-width: 150px;

      &:hover {
        background: $red;
        color: white;
      }
    }

    a.link {
      background: transparent;
      color: $red;
      padding: $padding;
      padding-left: 0;
      margin-bottom: 1rem;
      min-width: 150px;
      transition: $transition;

      &:hover {
        padding-left: 0.5rem;
        background: $red;
        color: white;
      }
    }
  }
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-one {
  flex: 1;
}

.flex-gap-2 {
  gap: 2rem;
}

.items-middle {
  align-items: center;
}

.items-center {
  justify-content: center;
}

.items-betweeen {
  justify-content: space-between;
}

.mx-auto {
  margin: 0 auto;
}

.fit-content {
  width: fit-content;
}

.p-3 {
  padding: 1rem;
}

.mb-4 {
  margin-bottom: 4rem;
}
